<div class="m-5 p-1">
    <h1>Authentification Page</h1>

    <form (ngSubmit)="onSignIn(f1)" #f1="ngForm" *ngIf="!auth">
        <label for="Email">Your Email : </label>
        <input type="email" id="email" name="email" placeholder="Name" class="form-control" id="Email" required ngModel>
        <br>
        <label for="pwd">Your Password : </label>
        <input type="password" name="pwd" placeholder="* * * *" class="form-control" id="" id="pwd" required ngModel>
        <br>
        <input type="submit" class="btn btn-sm btn-success" value="Sign In">
    </form>

    <form *ngIf="auth">
        <button (click)="OnSignOut()" class="btn btn-sm btn-danger">Sing Out</button>
    </form>
</div>


